.App {
	text-align: center;
}

.App-logo {
	height: 50px;
}

.App-title {
	font-size: 1.5rem;
}

.App-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-link {
	color: #09d3ac;
}
